body{
    width: 98vw;
   overflow-x: hidden; 
}

.about {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color:#49c5b6; */
  height: 100vh;
  width: 98vw;
  margin-top: 0px;
  overflow: hidden;
}
.slant {
  height: 100vh;
  width: 40vw;
  background-color:#4CBB17;
  margin: 0px 78vw;
  transform: skew(-40deg);
  z-index: 0;
  display: inline-block;
}
.section {
  display: flex;
}

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Sofia&display=swap");
.name {
  font-family: "Sofia", cursive;
  /* color: #E98074; */
  margin-top: 100px;
  margin-left: 13vw;
  font-size: 80px;
  position: absolute;
  z-index: 1;
  /* background-color: white;
     */
  color: white;
}
/* background: linear-gradient(
        to right,green,rgb(175, 255, 172),rgb(2, 65, 21)
     );
     background-size: 200% auto;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: gradient 4s linear infinite;
}
 @keyframes gradient {
    0%{background-position: 0% 75%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 70%;}
    
 } */

.nav {
  display: inline-block;
  /* position: relative; */
  margin-left: 3vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: 80vh;
  width: 20vw;
  justify-content: space-evenly;
  flex-shrink: calc(2);
  z-index: 1;
}
.navcon {
  display: flex;
  position: relative;
  border-radius: 50%;
  background-color: #5d5c61;
  /* background-color: white; */
  height: 65px;
  width: 65px;
  text-align: center;
  /* margin-top: 10px; */
  align-items: center;
  justify-items: center;
  margin: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: inset 5px 5px 9px #252527,
  inset -5px -5px 9px #95939b;
  cursor: pointer;

  /* transition-duration:  transform 1s; */
}

i {
  margin: 0 auto;
  transition-duration: 1s;
}
i:hover {
  transform: rotateY(180deg);
}
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Sofia&display=swap");
#myself {
  position: absolute;
  width: 50vw;
  height: 50vh;
  margin-top: 40vh;
  margin-left: 15vw;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Kanit", sans-serif;
  z-index: 2;
  color: rgb(255, 255, 255);
  font-weight: 100px;
}

.image {
  position: absolute;
  margin-left: 60vw;
  margin-top: 15vh;
  background-color: aliceblue;
  height: 80vh;
  width: 30vw;
  z-index: 1;
  /* filter: blur(2px);
     */
  opacity: 0.1;
  border-radius: 50px;
  transition-duration: 0.5s;
}

.image:hover {
  opacity: 1;
}
.s1 {
  font-size: 30px;
  font-weight: 700;
  color: yellow;
}
.highlight {
  display: inline-block;
  color: red;
  text-transform: uppercase;
  font-family: "Sofia", cursive;
}

h1 {
  font-size: 5em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  /* text-decoration: dotted; */
  /* box-shadow: inset 5px 5px 10px #3e3e3e,inset -5px -5px 10px #3c3c3c; */
  /* border-radius: 20px;
    padding: 20px; */
}

span {
  color:#4CBB17;
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#skills {
  height: 900px;
  width: 98vw;
  background-color: #000000;
  margin-top: 5px;
}
#revealingText {
 color: rgb(255, 255, 255);
  /* font-family: 'Rubik Burned', system-ui; */
  font-family: "Sofia", cursive;
  text-align: center; 
  position: relative; 
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}
#revealingText {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.skillm{
    display: flex;
    justify-content: space-around;
}

#skillcol{
    /* background-color: #26a407; */
    height: 900px;
    width: 60vw;
  position: relative;
  /* margin: 120px auto; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
  transition: left 2s ease;
  left: -100%;
}
#skillcor{
    height: 600px;
    width: 60vw;
  position: relative;
  /* margin: 120px auto; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
  transition: right 2s ease;
  right: -100%;
}
.skilli{
    background-color: #4CBB17;
    height: 400px;
    width: 300px;
    box-shadow: inset 10px 10px 20px #4CBB17,
    inset  -10px -10px 20px #4CBB17;
    border-radius: 30px;
    cursor: grab;
}

.skillim{
    margin-top: 10px;
    height: 300px;
    width: 250px;
}

.skillh{
    color:rgb(0, 0, 0);
    /* text-shadow: 4px red; */
    font-size: 30px;
    /* display: inline; */
    text-align: center;
    font-weight: bolder;
    
   
}



.skilli {
    /* perspective: 600px; */
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  /* .skilli:hover {
    transform: rotateY(180deg);
  } */

  .inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }

  .front,
  .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CBB17;
    height: 400px;
    width: 300px;
    box-shadow: inset 30px 30px 40px #4CBB17,
    inset  -30px -30px 40px  #4CBB17;
    border-radius: 30px;
    
  }

  .back {
    transform: rotateY(180deg);
    font-size: 25px;
    color: white;
    text-transform: capitalize;
  }

  /* career */
#career{
  height: 730px;
  width: 98vw;
  background-color: black;
  margin-top: 5px;
  overflow: hidden;
}
  

  .circle-container {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    left: 30%;
    top:22%;
    background-color: #4CBB17;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: rotateAnimation 20s linear infinite;
    box-shadow: inset 5px 5px 10px #4CBB17,
    inset -5px -5px 10px #4CBB17;

}
@keyframes rotateAnimation {
    to { transform: rotate(360deg); }
}

.circle-dot {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    transform-origin: center bottom;
    color: #ff0000;
    font-size: larger;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 13px #666666,
            inset -5px -5px 13px #ffffff;
   cursor: crosshair;
   
}
.rotate{
  animation: anticlock 20s linear infinite;
}
@keyframes anticlock {
  to{transform: rotate(-360deg);}
  
}

.dot1{
    bottom: 100%;

    }

.dot2{
  top:100%;
}
.dot3{
  right: 100%;
}
.dot4{
  left: 100%;
}
#inside{
  align-self: center;
  justify-self: center;
  position: relative;
  font-size: 20px;
  width: 300px;
  /* height: 300px; */
    color: white;
    display: inline-block;
    animation: anticlock 20s linear infinite;
    text-align: center;

}
B{
  color: #ff0000;
  background-color: #fff;
  box-shadow: inset 30px 30px 40px white,
  inset  -30px -30px 40px  white;
  height: 40px;
}


.social_media i {
  border-radius: 50%;
  font-size: 22px;
  color: #4CBB17;
  opacity: 0.5;
  padding: 0 15px;
  transition: all 0.3s linear;
}

.social_media i:hover {
  opacity: 1;
  transform: scale(1.2);
}

.social_media {
  position: relative;
  left: 80px;
  top: 10px;
}



footer {
  background-color: black;
  height: 36vh;
  color: #ffffff;
  margin-top: 5px;
}

.footer {
  display: flex;
  max-height: 32vh;
}

.footer-first {
  position: relative;
  left: 200px;
  top: 93px;
}

.footer-second {
  position: relative;
  left: 750px;
  top: 100px;
}

.footer-third{
  position: relative;
  top: 200px;
}
.purpleNew {
  color: #4CBB17;
  height: 30px;
  font-size: 20px;

}
.purple{
  display: inline-block;
  color:#4CBB17;
  font-weight: 500;
  font-size: 20px;
}


@media screen and (max-width:360px) {
       .about{
        width: 98vw;

       } 
       .slant {
        height: 1100px;
        width: 95vw;
        background-color:#4CBB17;
        margin-top: 0px;
        margin-left: 55vw;
        transform: skew(-16deg);
        z-index: 0;
        display: inline-block;
      }
      .nav {
        display: none;
       
      }
      .name {
        font-family: "Sofia", cursive;
        /* color: #E98074; */
        margin-top: 100px;
        margin-left: 9vw;
        font-size: 30px;
        position: absolute;
        z-index: 1;
        /* background-color: white;
           */
        color: white;
      }
      #myself {
        position: absolute;
        width: 60vw;
        height: 50vh;
        margin-top: 30vh;
        margin-left: 5vw;
        font-size: 15px;
        font-weight: bolder;
        font-family: "Kanit", sans-serif;
        z-index: 2;
        color: rgb(255, 255, 255);
        font-weight: 100px;
      }
      #revealingText {
        color: rgb(255, 255, 255);
         /* font-family: 'Rubik Burned', system-ui; */
         font-family: "Sofia", cursive;
         text-align: center; 
         position: relative; 
         top: 5%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 30px;
       }
       #revealingText {
        opacity: 0;
        transition: opacity 2s ease-in-out;
      }
      
}
